<div>
  <mat-select [(ngModel)]="type" [disabled]="editMode">
    <mat-option value="Car">Car</mat-option>
    <mat-option value="Bike">Bike</mat-option>
  </mat-select>
  <app-car-form #carForm *ngIf="type === 'Car'" [element]="element"></app-car-form>
  <app-bike-form #bikeForm *ngIf="type === 'Bike'"></app-bike-form>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Cancel</button>
    <button mat-button (click)="submit()">Confirm</button>
  </mat-dialog-actions>
</div>


