<form [formGroup]="formGroup">
  <mat-form-field>
    <input matInput type="number" [formControl]="getControlForField('bikeNumber', element)" [required]="true">
    <mat-error *ngIf="formGroup.controls['bikeNumber'].invalid">{{getErrorInControl('name')}}</mat-error>
  </mat-form-field>
</form>
