<div *ngIf="element">
  <mat-select [(ngModel)]="element.type" [disabled]="true">
    <mat-option value="Car">Car</mat-option>
    <mat-option value="Bike">Bike</mat-option>
  </mat-select>
  <app-car-form #carForm *ngIf="element.type === 'Car'" [element]="element" [disabled]="true"></app-car-form>
  <app-bike-form #bikeForm *ngIf="element.type === 'Bike'" [element]="element" [disabled]="true"></app-bike-form>
</div>
<button mat-button routerLink="/borrows"><i class="material-icons">
  arrow_back
</i>Back</button>
<button mat-button (click)="borrow()"><i class="material-icons">
  redo
</i>Borrow</button>
