<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="onDateChange($event)" [formControl]="dateControl">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br>

<table mat-table [dataSource]="dataSource?.content" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Vehicle type</th>
    <td mat-cell *matCellDef="let element"> {{element.type}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="vehicleName">
    <th mat-header-cell *matHeaderCellDef> Vehicle name</th>
    <td mat-cell *matCellDef="let element"> {{element.name !== null?element.name:element.bikeNumber}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="producerName">
    <th mat-header-cell *matHeaderCellDef> Producer</th>
    <td mat-cell *matCellDef="let element"> {{element.producer?.name}}</td>
  </ng-container>

  <ng-container matColumnDef="productionDate">
    <th mat-header-cell *matHeaderCellDef> Production date</th>
    <td mat-cell *matCellDef="let element"> {{element.productionDate}}</td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef> Color</th>
    <td mat-cell *matCellDef="let element"> {{element.color}}</td>
  </ng-container>

  <ng-container matColumnDef="borrowerName">
    <th mat-header-cell *matHeaderCellDef> Borrower name</th>
    <td mat-cell *matCellDef="let element"> {{element.borrow !== null?element.borrow?.borrower?.name: '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="borrowDate">
    <th mat-header-cell *matHeaderCellDef> Borrow date</th>
    <td mat-cell *matCellDef="let element"> {{element.borrow !== null?element.borrow?.borrowDate: '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element">
      <button *ngIf="element.type==='Car'" mat-button (click)="onEdit(element)"><i class="material-icons">
        create
      </i></button>
      <button mat-button (click)="showDetails(element)"><i class="material-icons">
        pageview
      </i></button>
      <button *ngIf="element.borrowed===false" mat-button (click)="onDelete(element)"><i class="material-icons">
        delete
      </i></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="dataSource?.totalElements"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPagingChange($event)"
>
</mat-paginator>
<button mat-button (click)="onAdd()"><i class="material-icons">
  add
</i>Add new vehicle
</button>


