<form [formGroup]="formGroup">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date"  [formControl]="getControlForField('borrowDate', {})">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="formGroup.controls['borrowDate'].invalid">{{getErrorInControl('name')}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Borrower"  [formControl]="getControlForField('borrower', {})" >
      <mat-option *ngFor="let borrower of borrowers" [value]="borrower">{{borrower.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.controls['borrower'].invalid">{{getErrorInControl('name')}}</mat-error>
  </mat-form-field>
</form>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Cancel</button>
  <button mat-button (click)="submit()">Confirm</button>
</mat-dialog-actions>
