<form [formGroup]="formGroup" >
  <mat-form-field>
    <input placeholder="Name" matInput [formControl]="getControlForField('name', element)" [required]="true">
    <mat-error *ngIf="formGroup.controls['name'].invalid">{{getErrorInControl('name')}}</mat-error>
  </mat-form-field>
</form>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="formGroup.value" [disabled]="formGroup.invalid">Confirm</button>
</mat-dialog-actions>
