@import "../../../assets/var.scss";

.menu-item {
  height: 250px;
  cursor: pointer;
  float: left;
  text-align: center;
  border-right: $_color-4 1px solid;
  border-bottom: $_color-4 1px solid;
  border-top: $_color-4 1px solid;
  font-size: 36px;
  color: $_color-6;
}
.menu-item:first-child {
  border-left: $_color-4 1px solid;
}
.material-icons {
  font-size: 128px;
  color: $_color-5;
}

