<div class="row">
  <div class="menu-item col-lg-3 col-sm-6 col-xs-12" routerLink="/borrows">
    <i class="material-icons">
      drive_eta
    </i>
    <div><span>VEHICLES</span></div>
  </div>
  <div class="menu-item col-lg-3 col-sm-6 col-xs-12" routerLink="/borrowers">
    <i class="material-icons">
      people
    </i>
    <div><span>BORROWERS</span></div>
  </div>

  <div class="menu-item col-lg-3 col-sm-6 col-xs-12" routerLink="/producers">
    <i class="material-icons">
      commute
    </i>
    <div><span>PRODUCERS</span></div>
  </div>

  <div class="menu-item col-lg-3 col-sm-6 col-xs-12" routerLink="/borrows-history">
    <i class="material-icons">
      list_alt
    </i>
    <div><span>BORROWS</span></div>
  </div>
</div>
