<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Borrow date</th>
    <td mat-cell *matCellDef="let element"> {{element.borrowDate}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Borrower name</th>
    <td mat-cell *matCellDef="let element"> {{element.borrower.name}}</td>
  </ng-container>

  <ng-container matColumnDef="producerName">
    <th mat-header-cell *matHeaderCellDef> Vehicle producer name/number</th>
    <td mat-cell *matCellDef="let element"> {{element.vehicle.producer !== null ? element.vehicle.producer.name: '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="vehicleName">
    <th mat-header-cell *matHeaderCellDef> Vehicle name</th>
    <td mat-cell *matCellDef="let element"> {{element.vehicle.name !== null ? element.vehicle.name: element.vehicle.bikeNumber}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="onDelete(element)"><i class="material-icons">
        delete
      </i></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

