@import '~@angular/material/theming';
@import 'var';

@include mat-core();

$primary: mat-palette($md-primary-color);
$accent:  mat-palette($md-accent-color);

$theme: mat-light-theme($primary, $accent);

$custom-typography: mat-typography-config(
  $font-family: "Roboto Condensed, sans-serif"
);

@include angular-material-theme($theme);

$dark-primary: mat-palette($mat-grey);
$dark-accent:  mat-palette($mat-amber);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
