$primary-space: 12px;

$color__chip: #877e65;
$color-primary: #ffb100;
$color-accent: #ffb100;
$accent-font-color: #000;

$_color-1: #f44336;
$_color-2: #9c27b0;
$_color-3: #f6fbff;
$_color-4: #bbdefb;
$_color-5: #005499;
$_color-6: #03a9f4;
$_color-7: #009688;
$_color-8: #4caf50;
$_color-9: #8bc34a;
$_color-10: #fff8e1;
$_color-11: #ffecb3;
$_color-12: #ffb100;
$_color-13: #795649;
$_color-14: #fafafa;
$_color-15: #f5f5f5;
$_color-16: #e0e0e0;
$_color-17: #e8e9eb;
$_color-18: #212121;
$_color-19: #ffffff;
$_color-20: #000000;
$_color-21: #f6f6f6;

$md-primary-color:  (
  50 : #fff6e0,
  100 : #ffe8b3,
  200 : #ffd880,
  300 : #ffc84d,
  400 : #ffbd26,
  500 : #ffb100,
  600 : #ffaa00,
  700 : #ffa100,
  800 : #ff9800,
  900 : #ff8800,
  A100 : #ffffff,
  A200 : #fff8f2,
  A400 : #ffdebf,
  A700 : #ffd0a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent-color: (
  50 : #e9e9e9,
  100 : #c9c9c9,
  200 : #a5a5a5,
  300 : #808080,
  400 : #656565,
  500 : #ffb100,
  600 : #434343,
  700 : #3a3a3a,
  800 : #323232,
  900 : #222222,
  A100 : #f17e7e,
  A200 : #ec5151,
  A400 : #ff0a0a,
  A700 : #f00000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
