<form [formGroup]="formGroup" >
  <mat-form-field>
    <input placeholder="Name" matInput [formControl]="getControlForField('name', element)" [required]="true">
    <mat-error *ngIf="formGroup.controls['name'].invalid">{{getErrorInControl('name')}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Color" [formControl]="getControlForField('color', element)" [required]="true">
      <mat-option value="czerwony">czerwony</mat-option>
      <mat-option value="zielony">zielony</mat-option>
      <mat-option value="niebieski">niebieski</mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.controls['color'].invalid">{{getErrorInControl('color')}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Producer" [formControl]="getControlForField('producerId', element)" [required]="true">
      <mat-option *ngFor="let producer of producers" [value]="producer.id">{{producer.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-error *ngIf="formGroup.controls['producerId'].invalid">{{getErrorInControl('producerId')}}</mat-error>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Production date"  [formControl]="getControlForField('productionDate', element)" [required]="true">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-error *ngIf="formGroup.controls['productionDate'].invalid">{{getErrorInControl('productionDate')}}</mat-error>
</form>
